html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100vw;
  font-family: 'Slabo 27px', serif;
}

body.blue {
  background: 
  linear-gradient(
    rgba(134, 141, 238, 0.25), 
    rgba(134, 141, 238, 0.15)
  ),
  url('../img/doodles.png') repeat;
  transition: background-color 5s linear;
}
header {
  height: 50px;

}
.slides {
  width: 100vw;
  overflow:hidden;
  display: flex;
}

nav {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Oswald';
  font-family: 'Slabo 27px', serif;

  color: rgba(255, 255, 255, .8);
  width: 100%;
  height: 50px;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, .3);
  border-bottom: 1px solid rgba(255, 255, 255, .3);
  background:
  linear-gradient(
    rgba(134, 141, 238, .2),
    rgba(134, 141, 238, .2)
  ),
  url('../img/felt.png') repeat; 
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  /*justify-content: flex-end;*/
}
nav ul.right {
  justify-content: flex-end;
}
nav ul li {
  margin: 0 10px;
  font-size: 18px;
}

nav ul li:hover {
  cursor: pointer;
  border-bottom: 1px solid rgba(255, 255, 255, .8);
}
.slide {
  min-width: 100vw;
  height: 650px;
  transition: all 1s ease-in-out;
}
div.hero {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Amatic SC', cursive;
}
h1, h2 {
  font-family: 'Amatic SC', cursive;
}
div.hero h1 {
  font-size: 100px;
  margin-bottom: 0;
  margin-top: 0;
  font-family: 'Lobster', cursive;
}
h1 {
  font-size: 100px;
}
h2 {
  font-size: 60px;
}
div.hero h1 img {
  height: 300px;
}
div.hero h2 {
  margin-top: 0;
  font-size: 60px;
}
div.actions {
  width: 300px;
  display: flex;
  justify-content: space-between;
}
button {
  cursor: pointer;
  height: 36px;
  font-family: 'Slabo 27px', serif;

  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  border: 1px solid rgba(134, 141, 238, .8);
  text-transform: uppercase;
  transition: background-color .2s ease-in-out;
}
button:hover {
  background-color: rgba(134, 141, 238, 1);
}

div.about {
  padding: 3em 0;
  width: 100%;
  height: 620px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  background: 
  linear-gradient(
    rgba(0, 0, 0, .5),
    rgba(0, 0, 0, .5)
  ),
  url('../img/performance.png');
  background-position: center;
  background-size: cover;
  box-shadow: 3px 3px 3px inset rgba(0, 0, 0, .3);
  color: white;
}

div.about2 {
  background: url('../img/thumb-bg.jpg');
  background-position: top;
}
div.about3 {
  background: url('../img/balloons.png');
  background-position: center;
}

div.about img {
  box-shadow: 1px 2px 2px rgba(0, 0, 0, .3);
}

div.about h2 {
  font-size: 63px;
  font-family: 'Amatic SC', cursive;
}

div.about p {
  width: 400px;
  font-size: 24px;
}
div.about p span {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 32px;
  color: rgba(146, 202, 187, 0.8);
  text-shadow: 1px 2px 2px #000;
}
div.about2 p span {
  color: rgba(218, 150, 150, .8);
}
div.words {
  width: 650px;
}
div.about button {
  color: white;
}

div.about button:hover {
  background-color: rgba(0, 0, 0, .8);
}

footer {
  width: 100%;
  height: 400px;
  background:
  linear-gradient(
    rgba(134, 141, 238, .2),
    rgba(134, 141, 238, .2)
  ),
  url('../img/felt.png') repeat;  
}
.step-1 {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.step-2 {
  cursor: pointer;
}